<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/4216a7c1-5bcc-4b92-a215-aeccc895799b/resourcegroups/Gerenciamento_EvolutionSchool/providers/Microsoft.Web/sites/GerenciamentoEvolutionSchool20220707004708</ResourceId>
    <ResourceGroup>Gerenciamento_EvolutionSchool</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://gerenciamentoevolutionschool20220707004708.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>7101d60f-e360-4afb-9138-2293bc173f3c</ProjectGuid>
    <PublishUrl>https://gerenciamentoevolutionschool20220707004708.scm.azurewebsites.net/</PublishUrl>
    <UserName>$GerenciamentoEvolutionSchool20220707004708</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>